<h1>Carrito</h1>

<a href="/products" class="carritoInProduct">Productos</a>

<div class="container">
    {{#each products}}
    <div class="card">
        <h3>{{ this.title }}</h3>
        <img src="{{ this.thumbnail }}" alt="" />
        <p>{{ this.description }}</p>
        {{#if this.price}}
        <span>Price: $ {{ this.price }}</span>
        {{else}}
        <span>Free</span>
        {{/if}}
        <p>{{ this.quantity }} productos agregados</p>
        <button class="deleteProd" productId={{this.product._id}} cid="{{../cid}}">Eliminar</button>
    </div>
    {{/each}}
</div>

<h3>Total: $ {{total}}</h3>